#main-section{
    margin: 0 10px !important;
    border: solid 1px #000000;
    padding: 5px;
}

#main-section  #main-header{
    background-color: #6c757d;
    width: 100%;
    height: inherit;
    border: 2px solid black;
    padding: 5px;
}

#main-section .searchTextString
{
    padding: 5px !important;
    border: 1px solid lightgray;
    border-radius: 100px 100px !important;
}

#main-section #main-header .fa-icon{
    margin: 5px 10px;
    float: left;
    cursor: pointer;
}

#breadcrumb{
    margin-top: 50px !important;
    padding: 5px;
}


#page-title {
    float: left;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: medium;
    padding: 5px;
    margin-left: 10px !important;
}

.page-right-btn {
    float: right;
}

#main-body{
    padding: 5px;
    margin: 10px 25px !important;
    border: 2px solid #000000;
}

.avatar-circle {
    border-radius: 50% !important;
}